* {padding:0;margin:0;box-sizing:border-box;}
html {font-family:arial,heltevica,sans-serif;}
body {font-size:1em;line-height:110%;}
a{color:initial;text-decoration:none;}
a * {cursor:pointer;}
img {border:0;width:auto;}
li{list-style:none;}
/**/
header, section, article, footer, nav, .wrapper, .grid, .gridBox, .mod{width:100%;}
header, section, article, footer, nav, .wrapper, .grid, .gridBox, .cell, .mod{display:inline-block;}
header, section, article, footer, nav, .wrapper, .cell, .mod{float:left;}
.wrapper { margin:0 auto; }
.container{width:90em;max-width:100%;margin:0 auto; float:none;clear:both;}
.container>.container{max-width:100%;min-width:100%;padding:0;}
.grid{margin:1em 0;}
.container>section.grid {position:relative;}
.gridBox {padding:2em;}
.cell {position:relative; padding:2em;}
.box{}
h1,h2,h3,h4,h5,h6,p,caption {font-size:100%;font-weight:normal;}



/*image responsive*/
.figure, .mediaBox, .mediaBox .ima{position:relative;}
.figure{width:100%;float:left;}
.mediaBox {display:inline-block;width:100%;}
.mediaBox .ima {float:left;display:inline-block;width:100%;padding-top:56.25%;overflow:hidden;}
.mediaBox .ima img {position:absolute;top:0;left:0;height:auto;width:100%;}
/**/


.ico img{position:relative;}

