/* carola */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* carola */
/**/
/*navbar***********/
.navbar-header,
.navbar-collapse {
  background: #434d59 !important;
  border-bottom: 3px solid #ffffff !important;
}

.navbar-collapse.collapse .navbar-nav > li > a {
  background: none !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav a:focus {
  background: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0px;
}

/*COLOR*/
.header.addBg,
.topHome {
  background: #434d59;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle {
  background: #434d59;
  border-color: #434d59;
}

/* carola */
#introText {
  overflow: hidden;
}

#introText .container {
  float: right;
  min-width: 80%;
  padding: 4em;
  background: #f2c438;
}

#introText p,
#introText span {
  color: #434d59;
}

#introText span {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  font-family: "Nothing You Could Do", cursive;
  font-size: 120%;
  font-weight: 700;
}

/*banner**************/
.banner-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  overflow: hidden;
}

@media (min-width: 767px) {
  .banner-container {
    padding-top: 75px;
  }
}

@media (max-width: 960px) {
  .banner-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
  }
}

.banner-container .main-info {
  flex: 1 40%;
  padding-left: 3em !important;
}

@media (max-width: 9605px) {
  .banner-container .main-info {
    padding: 10px;
  }
}

.banner-container .main-info h2 {
  color: #999999;
  font-weight: normal;
}

@media (max-width: 660px) {
  .banner-container .main-info h2 {
    font-size: 30px;
  }
}

.banner-container .ima {
  flex: 1 60%;
  margin: 20px 0 20px 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.banner-container .ima img {
  width: 100%;
}

.technologies {
  padding: 2em 0;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 5px 0px rgb a(0, 0, 0, 0.75);
}

.technologies .filter ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.technologies .filter .tab {
  width: 50px;
  margin: 0 20px;
  list-style: none;
}

.technologies .filter .tab .ima {
  width: 100%;
}

.technologies .filter .tab .ima img {
  width: 100%;
}

.technologies .tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 980px) {
  .technologies .tech {
    padding: 0 1em;
  }
}

.technologies .tech-option {
  list-style: none;
}

@media (min-width: 980px) {
  .technologies .tech-option {
    width: 11.11111%;
  }
}

@media (max-width: 980px) {
  .technologies .tech-option {
    width: 16.66666%;
  }
}

@media (max-width: 480px) {
  .technologies .tech-option {
    width: 25%;
  }
}

.technologies .tech-option img {
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.technologies .tech-option:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.technologies .isotope-item {
  padding: 0;
  border: 1px solid #cccccc;
}

.technologies .portfolio-item img {
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.technologies .portfolio-item:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.technologies .portfolio-item .portfolio-desc {
  background: none;
}

.technologies .portfolio-item .portfolio-desc .folio-info {
  display: none;
}

/* carola */
.experience {
  min-height: 375px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg.png) no-repeat;
  background-position: center 100%;
  background-size: 90%;
}

.experience .ima {
  width: 100%;
  text-align: center;
  padding: 0 4em;
}

@media (max-width: 510px) {
  .experience .ima {
    padding: 0 1em;
  }
}

.experience .ima img {
  width: 100%;
}

.experience .da-thumbs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 20px auto 0 auto;
  padding: 0;
}

@media (max-width: 1000px) {
  .experience .da-thumbs {
    top: 0;
  }
}

.experience .da-thumbs li {
  float: left;
  margin: 5px;
  background: #fff;
  padding: 8px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.experience .da-thumbs li .experience-in {
  display: block;
  position: relative;
  overflow: hidden;
  background: #f5f4f3;
  cursor: default;
}

.experience .da-thumbs li .experience-in img {
  display: block;
  position: relative;
}

.experience .da-thumbs li .experience-in .experience-data {
  position: absolute;
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 15px;
}

.experience .da-thumbs li .experience-in .experience-data .experience-content {
  width: 100%;
  height: 100%;
}

.experience .da-thumbs li .experience-in .experience-data .experience-content span {
  display: block;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.experience .da-thumbs li .experience-in .experience-data .experience-content span.experience__client {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.experience .da-thumbs li .experience-in .experience-data .experience-content span.experience__consult {
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #cccccc;
}

.experience .da-thumbs li .experience-in .experience-data .experience-content span.experience__date {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-weight: 500;
  color: #f2c438;
}

.da-thumbs li .experience-in div {
  top: 0px;
  left: -100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.da-thumbs li .experience-in:hover div {
  left: 0px;
}

.experience-details .col-md-6 {
  display: inline-block;
}

/*Experience*/
.experience-details .col-md-6 {
  margin-bottom: 40px;
}

.experience-details h4 {
  margin: 4px 0px 2px;
  font-size: 20px;
}

.experience-details h5 {
  margin: 3px 0px;
  font-size: 14px;
}

.experience-details .icon-block {
  float: left;
  margin-right: 20px;
}

.experience-details .icon-block i {
  font-size: 60px;
  color: #5887ff;
  margin: 8px 0 0;
}

.experience-details span {
  font-size: 14px;
  color: #000;
}

/* carola */
.portfolio * {
  box-sizing: border-box;
}

.portfolio nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio .tab-todo:hover, .portfolio .tab-todo:focus {
  background: #4e5a68;
}

.portfolio .tab-todo:hover span, .portfolio .tab-todo:focus span {
  color: #fafafa;
}

.portfolio .tab-rtve:hover, .portfolio .tab-rtve:focus {
  background: #596676;
}

.portfolio .tab-rtve:hover span, .portfolio .tab-rtve:focus span {
  color: #fafafa;
}

.portfolio .tab-vocento:hover, .portfolio .tab-vocento:focus {
  background: #647385;
}

.portfolio .tab-vocento:hover span, .portfolio .tab-vocento:focus span {
  color: #fafafa;
}

.portfolio .tab-veci:hover, .portfolio .tab-veci:focus {
  background: #6f7f93;
}

.portfolio .tab-veci:hover span, .portfolio .tab-veci:focus span {
  color: #fafafa;
}

.portfolio .tab-otros:hover, .portfolio .tab-otros:focus {
  background: #7e8c9e;
}

.portfolio .tab-otros:hover span, .portfolio .tab-otros:focus span {
  color: #fafafa;
}

.portfolio .tab-idea:hover, .portfolio .tab-idea:focus {
  background: #8c99a9;
}

.portfolio .tab-idea:hover span, .portfolio .tab-idea:focus span {
  color: #fafafa;
}

.portfolio .tab {
  position: relative;
  overflow: hidden;
  transition: all, 0.5s;
  border: 1px solid #7e8c9e;
  margin: 0 0 5px 5px;
}

.portfolio .tab:hover {
  border-radius: 10px;
  border-color: transparent;
  -moz-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  -webkit-transition: all, 0.8s;
  transition: all, 0.8s;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  -webkit-transition: all, 0.8s;
  transition: all, 0.8s;
  cursor: default;
}

.portfolio .tab:hover::before {
  top: 0;
}

.portfolio .tab a {
  display: table;
  height: 3em;
}

.portfolio .tab a:focus {
  text-decoration: none;
}

.portfolio .tab a span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em;
  font-weight: 700;
  font-size: 120%;
  text-transform: uppercase;
  color: #434d59;
}

/* carola */
.myself .copyright {
  background-color: #f2c438;
  color: #6d6d6d;
  padding: 0;
}

.myself .copyright .container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.myself .copyright .social {
  padding-right: 1em;
}

.myself .copyright .social a {
  color: #434d59;
}

.myself .copyright .social a:hover {
  color: #34a6bf;
}

/*footer*/
footer .pull-right,
footer .pull-right a {
  font-family: "League Gothic", arial, sans-serif;
}

footer .mail {
  font-size: 60%;
}
