/* carola */
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* carola */
.navbar-toggle {
  width: 100%;
  padding: 5px 20px;
  margin: 0;
}

.header__landing__nav {
  height: 60px;
  padding: 0 20px;
  background: #434d59;
}

.header__landing .logo-vicky {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.header__landing .logo-vicky a {
  color: #ffffff;
}

@media (min-width: 1000px) {
  .header__landing .logo-vicky a {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  .header__landing .logo-vicky a {
    font-size: 30px;
  }
}

/* carola */
.myself .copyright {
  background-color: #f2c438;
  color: #6d6d6d;
  padding: 0;
}

.myself .copyright .container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.myself .copyright .social {
  padding-right: 1em;
}

.myself .copyright .social a {
  color: #434d59;
}

.myself .copyright .social a:hover {
  color: #34a6bf;
}

/*footer*/
footer .pull-right,
footer .pull-right a {
  font-family: "League Gothic", arial, sans-serif;
}

footer .mail {
  font-size: 60%;
}

/* carola */
.sueno-azul .header__landing__nav {
  background: none;
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  .sueno-azul .header__landing__nav {
    height: 100%;
    position: absolute;
    left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 500;
  }
}

.sueno-azul .header__landing__nav .logo-vicky a {
  color: #434d59;
}

.sueno-azul .history {
  height: calc(100vh - 120px);
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.sueno-azul .history-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sueno-azul .history-in:hover .ws_controls .ws_next,
.sueno-azul .history-in:hover .ws_controls .ws_prev {
  background: rgba(50, 63, 168, 0.5);
}

.sueno-azul .history #wowslider-container1 .ws_images {
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-shadow: -1px -2px 21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -2px 21px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -2px 21px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  .sueno-azul .history #wowslider-container1 .ws_images {
    max-width: 70%;
  }
}

.sueno-azul .history #wowslider-container1 .ws_bullets {
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -55px;
  left: 0;
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  .sueno-azul .history #wowslider-container1 .ws_bullets {
    max-width: 70%;
  }
}

.sueno-azul .history #wowslider-container1 .ws_bullets > div {
  left: 0;
}

.sueno-azul .history #wowslider-container1 .ws_bullets a:after {
  color: #434d59;
}

@media (max-width: 812px) {
  .sueno-azul .history #wowslider-container1 .ws_bullets {
    display: none;
  }
}

.sueno-azul .history .ws_playpause {
  display: none;
}

.sueno-azul.myself footer {
  background: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  border: none;
}

@media (max-width: 812px) {
  .sueno-azul.myself footer .container {
    height: 35px;
  }
}

@media (max-width: 812px) {
  .sueno-azul.myself footer .mail {
    display: none;
  }
}
