.myself {
  .copyright {
    background-color: $footer;
    color: #6d6d6d;
    padding: 0;
    .container {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .social {
      padding-right: 1em;

      a {
        color: $gray;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

/*footer*/
footer .pull-right,
footer .pull-right a {
  font-family: "League Gothic", arial, sans-serif;
}

footer .mail {
  font-size: 60%;
}
