/**/
/*navbar***********/
.navbar-header,
.navbar-collapse {
  background: $gray !important;
  border-bottom: 3px solid #ffffff !important;
}

.navbar-collapse.collapse .navbar-nav > li > a {
  background: none !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav a:focus {
  background: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 0px;
}

/*COLOR*/

.header.addBg,
.topHome {
  background: $gray;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle {
  background: $gray;
  border-color: $gray;
}
