$gray: #434d59;
$green: #50bfa0;
$yellow: #f2c438;
$red: #f25749;
$blue: #34a6bf;
$gray1: #f0f4f4;
$heigh-header: 70px;
$padding-container: 0 20px;
%mod-1080 {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.accesibility {
  * {
    box-sizing: border-box;
  }
  .maintitle {
    @extend %mod-1080;
    position: relative;
    padding-top: $heigh-header;
    &-top {
      @media (min-width: 1000px) {
        position: absolute;
        top: 100%;
        margin-top: $heigh-header + $heigh-header/3;
      }
      @media (max-width: 1000px) {
        display: block;
        padding: $padding-container;
        margin-top: $heigh-header;
      }
    }
  }

  .intro {
    &--ima {
      height: 400px;
      flex-direction: row-reverse !important;
      overflow: hidden;
      &-img {
        align-self: flex-end;
        @media (min-width: 1000px) {
          margin-right: -5em;
        }
        img {
          width: 100%;
          min-width: 570px;
        }
      }
      &-p {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        border: 0;
        background: $yellow;
        @media (min-width: 1000px) {
          padding-left: 105px;
        }
      }
      &-ph {
        text-align: right;
        font-size: 24px;
        font-family: "Nothing You Could Do", cursive;
        color: #000000;
      }
      &-author {
        font-style: italic;
        color: $gray;
      }
    }

    &--info {
      position: relative;
      @media (max-width: 1000px) {
        padding: 20px;
      }
      &:first-child {
        @media (min-width: 1000px) {
          background: $gray1;
        }
      }

      &-text {
        @media (min-width: 1000px) {
          padding: 20px;
          color: #000000;
        }

        &:first-child {
          @media (min-width: 1000px) {
            background: $gray1;
          }
        }
        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }
      &-p {
        color: $gray;
        font-size: 18px;
        line-height: 1.5;
      }
      &-mainp {
        padding-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 0.8pt;
        strong {
          color: #000000;
          font-size: 22px;
        }
      }
      &-reason1 {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.8pt;
        @media (min-width: 1000px) {
          color: #666666;
        }
      }
      &-reason2 {
        font-size: 18px;
        letter-spacing: 1pt;
        line-height: 1.5;
      }
    }
  }
}
