@import "./barrier.scss";
@import "./intro.scss";
@import "../../fonts/webfonts/junction.css";
@import "../../css/vicky-font.css";

$heigh-header: 70px;
$padding-container: 0 20px;
%mod-1080 {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.accesibility {
  .navbar-toggle {
    width: 100%;
    padding: 5px 20px;
    margin: 0;
  }
  .logo-vicky {
    @media (min-width: 1000px) {
      height: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
    }
    @media (max-width: 1000px) {
    }

    a {
      color: #ffffff;
      font-size: 40px;
    }
  }
  .wrapper {
    padding-bottom: 100px;
  }
  .content {
    @extend %mod-1080;
    padding-top: $heigh-header;
    overflow: hidden;
    &--box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      &-in {
        width: 100%;
        @media (min-width: 1000px) {
          flex: 1 50%;
        }
      }
    }
  }
}
