@import "../common/color";
@import "../common/mixin";
.sueno-azul {
  .header__landing__nav {
    background: none;
    @media only screen and (max-device-width: 812px) and (orientation: landscape) {
      height: 100%;
      position: absolute;
      left: -50px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include rotate(-90deg);
      z-index: 500;
    }
    .logo-vicky {
      a {
        color: $gray;
      }
    }
  }
  .history {
    height: calc(100vh - 120px);
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-in {
      &:hover {
        .ws_controls {
          .ws_next,
          .ws_prev {
            background: rgba(50, 63, 168, 0.5);
          }
        }
      }
    }
    #wowslider-container1 {
      .ws_images {
        max-width: 80%;
        margin: 0 auto;
        @include box-shadow(-1px, -2px, 21px, rgba(0, 0, 0, 0.75));
        @media only screen and (max-device-width: 812px) and (orientation: landscape) {
          max-width: 70%;
        }
      }
      .ws_bullets {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: -55px;
        left: 0;
        @media only screen and (max-device-width: 812px) and (orientation: landscape) {
          max-width: 70%;
        }
        > div {
          left: 0;
        }

        a {
          &:after {
            color: $gray;
          }
        }
        @media (max-width: 812px) {
          display: none;
        }
      }
    }
    .ws_playpause {
      display: none;
    }
  }
  &.myself {
    footer {
      background: none;
      width: 100%;
      position: absolute;
      bottom: 0;
      border: none;
      .container {
        @media (max-width: 812px) {
          height: 35px;
        }
      }
      .mail {
        @media (max-width: 812px) {
          display: none;
        }
      }
    }
  }
}
