.contentcarola {
  max-width: 106em;
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  .paintcarola {
    width: 100%;
    max-width: 1200px;
    .active {
      &#glasses {
        fill: $colorred3 !important;
      }
      &#trouser {
        .paintcarola___area {
          fill: $colorgreen1 !important;
        }
      }
      &#pullover {
        .paintcarola___area {
          fill: $colorpurple1 !important;
        }
      }
      &#sneackers {
        path {
          fill: $coloryellow1 !important;
        }
      }
    }
  }
}
