html {
  font-size: 62.5%;
}
.landingcarola {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100%;
  position: relative;
  line-height: 1;
  margin: 0;
  padding: 0;
}
