/* Color Theme Swatches in Hex */
$colorgreen1: #17ac7b;
$colorgreen2: #00755f;
$colorgreen2: #005b52;
$colorred1: #e54a14;
$colorred2: #f18805;
$colorred3: #ed9c02;
$coloryellow1: #f2cb05;
$coloryellow2: #fbcd00;
$colorpurple1: #914bf2;
$colorblue1: #4bb2f2;

.contentcarola {
  max-width: 106em;
  width: 100%;
  height: calc(100vh - 127px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  .paintcarola {
    width: 100%;
    .active {
      &#glasses {
        fill: $colorred2 !important;
      }
      &#trouser {
        .paintcarola___area {
          fill: $colorred1 !important;
        }
      }
      &#pullover {
        .paintcarola___area {
          fill: #f25d27 !important;
        }
      }
      &#sneackers {
        path {
          fill: #03a696 !important;
        }
      }
    }
  }
}
