$footer: #f2c438;
$blue: #34a6bf;
$gray: #434d59;
$gray1: #f0f4f4;
$gray2: #7a7979;
$html-red: #8a6051;

/* carola */
$colorgreen1: #17ac7b;
$colorgreen2: #00755f;
$colorgreen3: #005b52;
$colorred1: #e54a14;
$colorred2: #f18805;
$colorred3: #ed9c02;
$coloryellow1: #f2cb05;
$coloryellow2: #fbcd00;
$colorpurple1: #914bf2;
$colorblue1: #4bb2f2;
